.ca__title {
  margin: 0 ;
  margin-bottom: 20px ;
  text-align: center;
}

.ca__text {
    margin: 0 ;
  text-align: center;
  margin-bottom: 25px;
  @media (min-width: $tablet-size){
    max-width: 435px;
    margin: 0 auto;
    padding-bottom: 35px;
   }
}

.ca__button {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  /* identical to box height, or 124% */
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  width: 284px;
  height: 58px;
  background: #81b3d2;
  color: #ffffff;
  margin: 0 auto;
  display: block;
   transition: 0.5s;


   
  &:hover{
    color: chartreuse;
     transition: 0.5s;
  }


  @media (min-width: $tablet-size){
   width: 458px;
  
  }
  
}

.ca{
    
    padding: 39px 18px 49px;
   
}

